@font-face {
  font-family: 'SemiBoldItalic';
  src: url(/fonts/Gilroy-SemiBoldItalic.ttf);
}

@font-face {
  font-family: 'HeavyItalic';
  src: url(/fonts/Gilroy-HeavyItalic.ttf);
}

@font-face {
  font-family: 'SemiBold';
  src: url(/fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: 'Black';
  src: url(/fonts/Gilroy-Black.ttf);
}

@font-face {
  font-family: 'Bold';
  src: url(/fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: 'Heavy';
  src: url(/fonts/Gilroy-Heavy.ttf);
}

@font-face {
  font-family: 'Light';
  src: url(/fonts/Gilroy-Light.ttf);
}

@font-face {
  font-family: 'Medium';
  src: url(/fonts/Gilroy-Medium.ttf);
}

* {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
}

.blur {
  position: fixed;
  top: 0;
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 100vw;
  display: none;
}

.header {
  justify-content: center;
  display: flex;
}

.topleft {
  width: 310px;
  height: 100px;
  text-align: center;
  padding-top: 10px;

}

.topleft>#logo {
  width: 70%;
  height: 100%;
  object-fit: contain;
}

#bulkorders {
  text-align: center;
  padding: 13px 0px;
}

.topcenter {
  justify-content: center;
  padding-inline: 10%;
}

.topright {
  padding-top: 8px;
  text-align: right;
  width: 310px;
}

.topright-content a {
  padding: 10px;
  font-size: 13px;
  color: #6f9c61;
  text-decoration: none;
}

.userspecific {
  align-self: center;
}

.pad {
  padding: 10px 15px;

}

.pad a {
  justify-self: center;
  align-self: center;
}

.btnLogin-popup {
  font-family: "Medium";
  font-size: 16px;
  background-color: #ffd104;
  color: #000000;
  box-sizing: border-box;
  padding: 5px 20px;
  border: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.btnLogin-popup:hover {
  background: #ffae00;
  color: #000000;
}


input[type=button] {
  font-family: "Medium";
  font-size: 16px;
  background-color: #abd38e;
  color: #000000;
  box-sizing: border-box;
  padding: 5px 20px;
  border: #fff;
  border-radius: 25px;
}

input[type=text] {
  font-size: 15px;
  border: 0px;
  background-color: #DADADA;
  color: #2d2d2d;
  width: 502px;
  padding: 10px 20px;
  margin: 2px 0;
  border-radius: 20px;
}

input[type="text"]:focus {
  outline: none;
}


/* Navbar container */
.navbar {

  display: flex;
  width: 100vw;
  justify-content: center;
  text-align: center;
  background-color: #6eab5b;
  font-family: "Medium";
  height: 42px;


}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 10px 16px 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 16px 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #ffe35786;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.wrapper-container {
  position: sticky;
  top: 120px;
  height: 1px;
  z-index: 99;
}

.wrapper {

  font-family: 'Bold';
  margin-inline: 37%;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform .2s ease-out, height.2s ease;
  z-index: 99;
}

.wrapper.active-popup {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 85%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform .18s ease;
  transform: translate(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);

}


.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translate(400px);
}

.wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translate(0);

}



.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #6eab5b;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 2;


}

.form-box h2 {
  font-size: 2em;
  color: #2d2d2d;
  text-align: center;
}

.input-box {
  color: #8c8c8c;
  font-family: 'Medium';
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;

}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 88%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  padding: 0px 35px 0px 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #1e6c0e;
  line-height: 57px;
}

.remember-forgot {
  font-family: "SemiBold";
  font-size: .9em;
  color: #162938;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}

.btn {
  width: 100%;
  height: 45px;
  background: #6eab5b;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
}

.login-register {
  font-size: .9em;
  color: #6eab5b;
  text-align: center;
  font-weight: 500;
  margin: 25px 0px 10px;
}

.login-register p a {
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

.categories {
  padding: 50px 280px 10px;
  /* text-align: center; */
}

.categories-cards {
  display: flex;
  max-width: 370px;
}

.offers {
  display: grid;
  justify-content: center;
}

hr {
  margin-top: 15px;
  border-top: 1px dashed rgb(179, 179, 179);
  width: 955px;
  align-self: center;
}

.product-container {
  justify-self: center;
  display: flex;
  padding-inline: 50px;
}

.product {
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 51%, rgba(250, 250, 250, 1) 74%, rgba(231, 231, 231, 1) 100%);
  border-radius: 25px;
  border: 0.5px solid rgb(233, 233, 233);
  width: fit-content;
  padding: 10px;
  margin: 25px;
}

.product-img {
  height: 305px;
  width: 200px;
  overflow: hidden;
}

.product-img>.product-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  text-align: center;
  padding-left: 12px;
}

.tool-product-img {
  height: 185px;
  width: 200px;
  overflow: hidden;
}

.tool-product-img>.tool-product-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  text-align: center;
  padding-left: 12px;
}

.product-price {
  color: #5c5b5b;
  font-family: 'Medium';
  padding-top: 15px;
  font-size: 20px;
  padding-inline: 13px;

}

.product-text {
  color: #2d2d2d;
  font-family: 'Bold';
  font-size: 18px;
  padding-inline: 13px;


}

.checked {
  color: #efc806;
}


input[type=submit] {
  font-family: 'Medium';
  border: solid #aeaeae 0.5px;
  font-size: 16px;
  color: #000000;
  box-sizing: border-box;
  padding: 5px 20px;
  border-radius: 25px;
}

.buynow {
  padding: 15px 10px 12px 10px;
  text-align: center;
}

.addtocart {
  padding: 10px 10px 20px 10px;
  text-align: center;
}

.buynow a {
  width: 40px;
  text-decoration: none;
  font-family: "Medium";
  font-size: 16px;
  background-color: #efc806;
  color: #000000;
  box-sizing: border-box;
  padding: 8px 50px;
  border: #fff;
  border-radius: 25px;
}

.addtocart a {

  text-decoration: none;
  font-family: "Medium";
  font-size: 16px;
  background-color: #ffffff;
  color: #5d5d5d;
  box-sizing: border-box;
  padding: 5px 40px;
  border: solid 0.2px #817f7f;
  border-radius: 25px;
}

.filter-bar {
  font-family: 'Bold';
  font-size: 18px;
}

.filter {
  padding: 20px;
  border-radius: 20px;
}

.filter a {
  padding: 5px 20px 5px;
  display: block;
  text-decoration: none;
  font-family: 'Medium';
  color: #888888;
}

.product-checkout {
  display: inline-flex;

}

.order-summary {
  margin: 0 80px;
}

.product-details {
  display: grid;
  padding-top: 50px;
  justify-content: center;
  height: 30px;

}

.product-container-checkout {
  margin: 10px 40px;
  background: radial-gradient(circle, rgb(221 221 221 / 37%) 0%, rgb(161 183 151 / 30%) 93%);
  /* background-color: #bcdfb1; */
  width: 750px;
  border-radius: 20px;
}

.product-description {
  font-family: "Medium";
  color: #5c5b5b;
  font-size: small;
  padding: 10px 13px;
}

.buttons {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons span,
.buttons input {
  background-color: #fff;
  font-size: 2rem;
  padding: 8px;
  color: var(--green);
}

.buttons input {
  text-align: center;
  width: 100%;
  letter-spacing: 1px;
}

.buttons span {
  user-select: none;
  cursor: pointer;
}

.buttons span:first-child {
  border-radius: 25px 0 0 25px;
}

.buttons span:last-child {
  border-radius: 0 25px 25px 0;
}

.buttons span:hover {
  color: #fff;
}

footer {
  /* background: linear-gradient(0deg, rgba(104,156,88,1) 40%, rgba(254,247,140,1) 100%); */
  background-color: #6f9c61;
  margin: 50px 0 0;
  padding: 20px 0;
  display: grid;
  justify-content:space-around;
  width: 100vw;



}

.footer-container {
  display: flex;
}

.footer-a {
  display: flex;
}
.useful-links,.copyright,.connect-with-us,.payment-icons{
  padding: 10px;
}
.useful-links a,h3{
  padding: 5px;
}

.useful-links h3{
font-family: 'Heavy';
font-size: 25px;
color: wheat;
}
.useful-links a{

  display: block;
  text-decoration: none;
  font-family: "Medium";
  color: white;
}
.connect-with-us{
  display: block;
}
.connect-with-us,.copyright h3{
  font-family: 'Heavy';
font-size: 25px;
color: wheat;

}
.connect-with-us h3{
  font-size: 25px;
}
.connect-with-us a,.h3{
  padding: 5px;
  
  display:inline;
}
.connect-with-us a ion-icon{
  height: 40px;
  width: 40px;
  color: rgb(255, 255, 255);
}
.payment-icons{
  text-align: center;
  width:300px;
  height: 50px;
}
.payment-icons img{
  width: 60px;
aspect-ratio: 3/2;
object-fit: contain;
}
.copyright p{
  padding: 5px;
  font-family: 'Light';
  color: white;
}



.footer-b {
  display: block;
}
.footer-b p,input,button{
  padding: 10px;
}

.footer-b p.subscribe {
  color: wheat;
  font-family: "Bold";
  font-size: 36px;
}

.footer-b p.subs-text {
  color: rgb(204, 204, 204);
  font-family: "Medium";
  font-size: 15px;
}

.footer-b input {
  background-color:transparent;
  border: 1px solid rgb(255, 255, 255);
  padding-left: 10px;
border-radius: 5px;
  height: 20px;
  width: 300px;
  font-size: 20px;
  
}


.footer-b button {
  font-family: 'SemiBold';
  background-color: white;
  border-radius: 5px;
  border: none;
  height: 43px;
  width: 150px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
footer p{
  padding: 20px 0;
  text-align: center;
  color: white;
  font-family: "Medium";
}